/* #region Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fbfbfb;
  color: #0c0c0c;
  margin: 0;
  padding: 0;
  letter-spacing: -0.04em;
  line-height: 1.28571;
  font-size: 14px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 335px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;
  }
}

.section {
  margin-top: 60px;
}

@media only screen and (min-width: 768px) {
  .section {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .tablet-menu {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none !important;
  }
}

/* #endregion */

/* #region Header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.06em;
  padding: 7.5px 0;
}

.menu-icon {
  stroke: #0c0c0c;
  padding: 0;
  transition: 0.2s ease-in-out;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn:hover .menu-icon,
.menu-btn:focus .menu-icon {
  stroke: #3350e9;
}

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

@media only screen and (min-width: 768px) {
  .menu-icon {
    width: 40px;
    height: 40px;
  }
  .logo {
    font-size: 20px;
  }
  .header-container {
    padding: 26px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
}

.nav-link:hover,
.nav-link:focus {
  color: #3350e9;
}

.nav-link {
  position: relative;
}

.nav-link.current {
  color: #3350e9;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.header-socials {
  display: flex;
  gap: 10px;
}

.header-socials-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  fill: rgba(12, 12, 12, 0.8);
}

.header-socials-icon:hover,
.header-socials-icon:focus {
  border-color: rgba(51, 80, 233, 0.1);
  fill: rgba(51, 80, 233, 0.8);
}

@media only screen and (max-width: 1279px) {
  .header-socials,
  .nav-list {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.95);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.mobile-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: rgba(251, 251, 251, 0.8);
  transition: 0.2s ease-in-out;
}

.mobile-close-icon:hover,
.mobile-close-icon:focus {
  stroke: rgba(251, 251, 251, 1);
}

.mobile-menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
  height: 100vh;
  color: rgba(251, 251, 251, 0.8);
  transition: 0.2s ease-in-out;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: rgba(251, 251, 251, 1);
}

.mobile-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  width: 80px;
  position: relative;
}

.mobile-nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -20px;
  transform: translateY(50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
}

.mobile-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.mobile-socials {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.mobile-socials-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  fill: rgba(251, 251, 251, 0.8);
  transition: 0.2s ease-in-out;
}

.mobile-socials-icon:hover,
.mobile-socials-icon:focus {
  fill: rgba(251, 251, 251, 1);
}

.tablet-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.95);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .tablet-menu {
    display: block;
  }
}

.tablet-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.tablet-close-icon {
  position: absolute;
  top: 26px;
  right: 32px;
  stroke: rgba(251, 251, 251, 0.8);
  transition: 0.2s ease-in-out;
}

.tablet-close-icon:hover,
.tablet-close-icon:focus {
  stroke: rgba(251, 251, 251, 1);
}

.tablet-menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.tablet-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
  height: 100vh;
  color: rgba(251, 251, 251, 0.8);
  transition: 0.2s ease-in-out;
}

.tablet-nav-link:hover,
.tablet-nav-link:focus {
  color: rgba(251, 251, 251, 1);
}

.tablet-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.tablet-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  position: relative;
}

.tablet-nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -20px;
  transform: translateY(50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
}

.tablet-socials {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.tablet-socials-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  fill: rgba(251, 251, 251, 0.8);
  transition: 0.2s ease-in-out;
}

.tablet-socials-icon:hover,
.tablet-socials-icon:focus {
  fill: rgba(251, 251, 251, 1);
}

/* #endregion */

/* #region Hero */
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.1em;
  margin-bottom: 20px;
}

.accent {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

.hero-avatars-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 28px;
}

.hero-avatars-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-avatars-item {
  width: 44px;
}

.hero-avatars-item:not(:first-child) {
  margin-left: -12px;
}

.hero-scroll {
  align-self: flex-end;
  font-weight: 500;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.hero-scroll:hover,
.hero-scroll:focus {
  color: #3350e9;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .hero-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 11px;
  }
  .hero-title {
    font-size: 70px;
    line-height: 0.85714;
  }
  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  .hero-avatars-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    gap: 180px;
  }
  .hero-scroll {
    font-size: 20px;
    line-height: 1;
  }
  .hero-avatars-item {
    width: 56px;
  }
  .hero-avatars-item:not(:first-child) {
    margin-left: -15px;
  }
  .hero-avatars-item:last-child {
    margin-left: -17px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    font-size: 72px;
    line-height: 0.875;
  }
  .hero-avatars-item {
    width: 60px;
  }
  .hero-text-wrapper {
    max-width: 597px;
  }
  .hero-wrapper {
    justify-content: space-between;
  }
  .hero-avatars-item:not(:first-child) {
    margin-left: -16px;
  }
  .hero-avatars-item:last-child {
    margin-left: -18px;
  }
}
/* #endregion */

/* #region About-us */
.about-us-wrapper {
  background-color: rgba(243, 243, 243, 1);
  border-radius: 30px;
  padding: 40px 20px;
}
.about-us-title {
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 28px;
  letter-spacing: -0.08em;
}
.about-us-text {
  color: rgba(12, 12, 12, 0.7);
}
.about-us-text:first-child {
  margin-bottom: 20px;
}
.about-us-btn {
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  border-radius: 16px;
  color: #fbfbfb;
  text-align: center;
  margin-top: 16px;
  transition: 0.2s ease-in-out;
}
.about-us-btn:hover,
.about-us-btn:focus {
  background-color: #1f3cd4;
}
.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .about-us-wrapper {
    padding: 80px 60px;
  }
  .about-us-title {
    font-size: 48px;
    line-height: 0.91667;
    margin-bottom: 40px;
  }
  .about-us-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .about-us-btn {
    margin-top: 60px;
  }
  .about-us-container {
    gap: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-us-container {
    flex-direction: row;
  }
  .about-us-wrapper {
    max-width: 580px;
  }
  .about-us-btn {
    margin-top: 40px;
  }
}
/* #endregion */

/* #region Catalog */
.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 24px;
}
.catalog-item {
  display: flex;
  flex-direction: column;
  padding: 24px 28px;
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}
.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 5px 5px 25px -25px rgba(12, 12, 12, 1);
}
.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.catalog-item-title {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.06em;
  margin-top: 10px;
  margin-bottom: 8px;
  max-width: 279px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-price {
  font-weight: 400;
  color: rgba(12, 12, 12, 0.5);
}
.catalog-btn {
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  color: #fbfbfb;
  font-weight: 500;
  align-self: center;
  transition: 0.2s ease-in-out;
}

.catalog-btn:hover,
.catalog-btn:focus {
  background-color: #1f3cd4;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .hidden {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .catalog-btn {
    display: none;
  }
  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 16px;
  }
  .catalog-item {
    width: calc((100% - 16px) / 2);
    padding: 24px 32px;
  }
  .catalog-item-title {
    font-size: 20px;
    line-height: 1;
  }
  .catalog-title {
    font-size: 48px;
    line-height: 0.91667;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .catalog-item {
    width: calc((100% - 23px * 2) / 3);
    padding: 24px 32px;
  }
  .catalog-list {
    column-gap: 23px;
  }
}
/* #endregion */

/* #region CTA */
.cta-container {
  border-radius: 30px;
  padding: 60px 28px;
  background-image: url(../img/cta_mob.png);
  background-color: #0c0c0c;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-resolution: 192dpi) {
  .cta-container {
    background-image: url(../img/cta_mob@2x.png);
  }
}

.cta-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.06em;
  color: #fbfbfb;
  margin-bottom: 28px;
}
.cta-accent {
  color: rgba(251, 251, 251, 0.5);
}
.cta-btn {
  width: 160px;
  height: 48px;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  font-weight: 500;
  color: #fbfbfb;
  transition: 0.2s ease-in-out;
}
.cta-btn:hover,
.cta-btn:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}
@media only screen and (min-width: 768px) {
  .cta-container {
    padding: 80px 64px;
    background-image: url(../img/cta_tab.png);
  }
  .cta-title {
    font-size: 48px;
    line-height: 0.91667;
    margin-bottom: 32px;
  }
  @media only screen and (min-resolution: 192dpi) {
    .cta-container {
      background-image: url(../img/cta_tab@2x.png);
    }
  }
}
@media only screen and (min-width: 1280px) {
  .cta-container {
    display: flex;
    justify-content: space-between;
    padding: 83px 80px;
    background-image: url(../img/cta_pc.png);
  }
  .cta-title {
    max-width: 690px;
  }
  @media only screen and (min-resolution: 192dpi) {
    .cta-container {
      background-image: url(../img/cta_pc@2x.png);
    }
  }
}

/* #endregion */

/* Фіксований хедер */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff; /* або твій фон */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.25s ease;
  transform: translateY(0);
}

/* Ховаємо хедер */
.header.hide {
  transform: translateY(-100%);
}

/* Щоб контент не ховався під фіксованим хедером */
main {
  padding-top: 52px; /* або висота твого хедера */
}